/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

header{
    margin-left: 200px;
    display: flex;
    margin-right: 200px;

    padding-top: 50px;
    padding-bottom: 50px;
}

.nav__list{
    list-style-type: none;
}
.nav__logo{
    margin-right: 15rem;
}
.nav__item{
    display: inline;
}
.nav__link{
    text-decoration-line: none;
    margin-right: 3rem;

    width: 46px;
    height: 19px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    
    color: #4F5665;
    
}
.sign__in{
    margin-left: 10rem;
    text-decoration-line: none;

    width: 53px;
    height: 19px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    
    color: #0B132A;
    
}
.sign__up{
    margin-left: 6rem;

    width: 150px;
    height: 45px;

    border-radius: 50px;
    border: 1px solid #F53855;

    background-color: white;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    
    color: #F53855;
}

main{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
}

.container__main{
    display: flex;
    border: 1px solid black;
    flex-direction: row;
    justify-content: space-between;

}

.main__box1{
    display: flex;
    border: 1px solid red;
    flex-direction: column;
    margin: 10px;
    
}

.main__box2{
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    
    margin-right: 50px;
}

.h1__text{
/* Want anything to be easy with LaslesVPN. */

font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 70px;
/* or 140% */


color: #0B132A;

}

.p1__text{
/* Provide a network for all your needs with ease and fun using LaslesVPN discover interesting features from us. */

font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* or 188% */


color: #4F5665;

margin-top: 30px;

}

.button__getstarted{
    margin-top: 50px;

    width: 250px;
    height: 60px;

    background: #F54747;
    border-radius: 10px;
    border: none;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height, or 156% */
    
    
    color: #FFFFFF;
    

}