/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

header{
    margin-left: 10rem;
    margin-right: 10rem;

    margin-top: 50px;
    margin-bottom: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
}
.nav__logo{
    align-items: center;
}
.nav__list{
   display: flex;
   gap: 2rem;
   align-items: center;
}
.nav__item{
    align-items: center;
}
.nav__link{
    text-decoration-line: none;
    width: 46px;
    height: 19px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    color: #4F5665;

    text-align: center;
    
}

.button__list{
    display: flex;
    gap: 3rem;
    align-items: center;

}


.sign__in{
    text-decoration-line: none;

    width: 53px;
    height: 19px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    /* identical to box height */
    
    color: #0B132A;
}

.sign__up{
    width: 150px;
    height: 45px;

    border-radius: 50px;
    border: 1px solid #F53855;

    background-color: white;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    
    color: #F53855;

}

main{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 100px;
}

.container__main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex-wrap: wrap;
}

.main__box1{
    display: flex;
    flex-direction: column;
}

.main__box2{
    display: flex;
    justify-content: space-between;
}

h1,h2,h3{
    /* Want anything to be easy with LaslesVPN. */

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    /* or 140% */
    color: #0B132A;
}
span{
    font-weight: 900;
}

p{
/* Provide a network for all your needs with ease and fun using LaslesVPN discover interesting features from us. */

font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* or 188% */

color: #4F5665;

margin-top: 10px;
}

.button__getstarted{
    margin-top: 50px;

    width: 250px;
    height: 60px;

    background: #F54747;
    border-radius: 10px;
    border: none;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height, or 156% */

    color: #FFFFFF;
}

.data__rectangle{
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: #FBFBFB;

    flex-wrap: wrap;

}

.data__box1{

    display: flex;
    flex-direction: row;
    border-right: 2px solid black;

    width: 20rem;
    
}
.data__box2{

    display: flex;
    flex-direction: row;
    border-right: 2px solid black;

    width: 20rem;
    
}
.data__box3{

    display: flex;
    flex-direction: row;

    width: 20rem;
}

.icon__user{
    margin-right: 1rem;
}
.user__count{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height, or 120% */
    
    
    color: #0B132A;
    
}
.text__user{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    
    
    color: #4F5665;

}

.icon__location{
    margin-right: 1rem;
}
.location__count{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height, or 120% */
    
    
    color: #0B132A;
    
}
.text__locations{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    
    
    color: #4F5665;

}

.icon__servers{
    margin-right: 1rem;
}
.servers__count{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height, or 120% */
    
    
    color: #0B132A;
    
}
.text__servers{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    
    
    color: #4F5665;

}

/* MAIN BODY 2 */

.main__body1{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.main__text2{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    /* or 143% */
    
    
    color: #0B132A;
}
.main__p2{
    margin-top: 20px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */
    
    
    color: #4F5665;
    
    
}

.main__list{
    margin-top: 20px;
}
.rounded__tick{
    margin-right: 4px;
    

}
.list1{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    /* identical to box height, or 214% */
    
    color: #4F5665;
    display: flex;
    align-items: center;
    
}
.mainbody2{
    padding-top: 100px;
    background: #F8F8F8;
    border: 4px solid white;
}
.mainbody2__text{
    align-items: center;
    display: flex;
    flex-direction: column;

    margin-bottom: 50px;
    
}
.all__boxs{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;

    flex-wrap: wrap;
}

.box__1{
    height: 45rem;
    width: 20rem;
    padding-top: 60px;
    
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.box__2{
    height: 45rem;
    width: 20rem;
    padding-top: 60px;
    
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.box__3{
    height: 45rem;
    width: 20rem;
    padding-top: 60px;
    
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.plan__lists{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 167% */

    margin-top: 40px;
    margin-bottom: 30px;
    
}
.main__list2{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    /* identical to box height, or 214% */
    
    
    color: #4F5665;

    margin-bottom: 20px;
    
    height: 10rem;
}
.cost{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height, or 120% */
    
    text-align: center;
    
    color: #0B132A;
    margin-top: 45px;
}
.mo{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height, or 120% */
    
    text-align: center;
    
    color: #4F5665;
    
    
}

.select{
    margin-top: 15px;
    width: 177.88px;
    height: 45px;
    border: 2px solid #F53838;
    border-radius: 50px;
    background: white;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    
    color: #F53838;
    
}